@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* Styles for carousel scrollbar */
/* width */
.scroll-bar::-webkit-scrollbar {
  height: 8px;
}

/* Track */
.scroll-bar::-webkit-scrollbar-track {
  background-color: inherit;
  border-radius: 0 0 5px 5px;
}

/* Handle */
.scroll-bar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
